﻿@model IEnumerable<MovieStore.Models.Category>

@{ 
    Layout = null;
}

<ul>
    <li>@Html.ActionLink("All", "Index", "Home", new { id = "All", page = 1 }, null)</li>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Name, "Index", "Home", new { id = item.Name, page = 1 }, null)</li>
    }
</ul>
