﻿@model MovieStore.BusinessLogicLayer.Messaging.GetMovieDetailsResponse

@{
    ViewBag.Title = "Details";
    var movie = Model.Model;
}

<h2>Details</h2>

<hr />

@if (!Model.IsSuccess)
{
    <div class="container">
        <p>
            @Model.Message
        </p>
    </div>

    <hr />
}

@if (movie != null)
{

    <div class="container">
        <div class="col-md-4">
            <img src="~/Content/Images/@movie.Poster" alt="@movie.Title" />
        </div>
        <div class="col-md-8">
            <h2>
                @movie.Title
            </h2>
            <br />
            <p>
                @Html.Raw(movie.Plot)
            </p>
            <br />
            <p>
                Price: @string.Format(new CultureInfo("en-US"), "{0:C}", movie.Price)
            </p>
            <br />
            @Html.ActionLink("Add your review...", "AddReview", "Review", 
                    new { id = movie.MovieId, title = movie.Title}, null)
        </div>
    </div>

    <hr />

}

@if (movie.Reviews.Any())
{
    @Html.Partial("ReviewsList", movie.Reviews)
}
else
{
    <p>Nie ma jeszcze recenzji...</p>
}