﻿@model MovieStore.BusinessLogicLayer.Messaging.GetMovieListResponse

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<hr />

@if (!Model.IsSuccess)
{
    <div class="container">
        <p>
            @Model.Message
        </p>
    </div>

    <hr />
}

<div class="container">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>

<hr />

<div class="col-md-10">
    @foreach (var movie in Model.Movies)
    {
        <div class="row">
            <div class="container col-md-2">
                <img src="~/Content/Images/@movie.Poster" alt="@movie.Title" width="150" />
            </div>

            <div class="container col-md-10">
                <h3>
                    @Html.ActionLink(movie.Title, "Details", new { id = movie.MovieId })
                </h3>
                <p>
                    @movie.ShortPlot
                </p>
                <p>
                    Price: @string.Format(new CultureInfo("en-US"), "{0:C}", movie.Price)
                </p>
                <p>
                    Average user rating: @movie.AverageUserRating.ToString("F2")
                </p>
                <p>
                    Categories: <b>@movie.Categories</b>
                </p>
            </div>
        </div>
        <hr />
    }
</div>
<div class="col-md-2">
    @Html.Action("CategoriesList", "Category")
</div>