﻿@model FirstMvcApp.Models.Participant

@{
    Layout = null;
    string script = "<script>alert('HAcked');</script>";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
</head>
<body>
    <div> 
        <h1>Dziękujemy, @Html.Raw(script)</h1>
        @if (Model.Confirmed)
        {
            <p>@Model.Email</p>
            <p>@Model.Phone</p>
            <p>Twoje miejsce zostało zarezerwowane</p>
        } else
        {
            <p>Przykro nam, że się nie pojawisz</p>
        }
    </div>
</body>
</html>
