﻿@model FirstMvcApp.Models.Participant

@{
    Layout = null;

    var partial = Html.Partial("MyPartialView");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enroll</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <h2>@Html.Action("CurrentTime")</h2>
    <h2>@Html.Partial("MyPartialView")</h2>
    @*<h2>@{ Html.RenderPartial("MyPartialView"); }</h2>*@
    <div>
        @using (Html.BeginForm("Enroll", "Home"))
        {
            @Html.ValidationSummary()

            <p>@Html.LabelFor(x => x.Name)</p>
            <p>@Html.TextBoxFor(x => x.Name)</p>

            <p>@Html.LabelFor(x => x.Email)</p>
            <p>@Html.TextBoxFor(x => x.Email)</p>

            <p>@Html.LabelFor(x => x.Phone)</p>
            <p>@Html.TextBoxFor(x => x.Phone)</p>

            <p>@Html.LabelFor(x => x.Confirmed)</p>
            <p>
                @Html.DropDownListFor(x => x.Confirmed, new[]{
                new SelectListItem(){ Text = "Potwierdzam uczestnictwo", Value = true.ToString() },
                new SelectListItem(){ Text = "Niestety nie mogę przybyć", Value = false.ToString()}
            })
            </p>

            <input type="submit" value="Wyślij" />
        }
    </div>
</body>
</html>
