﻿@model FirstMvcApp.Models.Participant

@{
    ViewBag.Title = "FirstMvcApp";
}

<p>@Model.Name</p>
<p>@Model.Email</p>
<p>@Model.Phone</p>
<p>@Model.Confirmed</p>

<br />

@Html.ActionLink("Potwierdź udział w szkoleniu", "Enroll")

<br />

@Html.ActionLink("Lista uczestników", "List")

@*@section footer{
    <p>To jest stopka z Home/Index</p>
    }*@
