﻿@model IEnumerable<FirstMvcApp.Models.Participant>

@{
    Layout = null;
    double a = 3;
    double b = 6;
    double c = Math.Pow(a, b);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div> 
        <p>Na szkoleniu jest @Model.Count() uczestników</p>
        @foreach (var item in Model)
        {
            <p>@item.Name</p>
        }
        <p>@c</p>

        <p>@@infotraining.pl</p>

        <p>lukasz.zawadzki@infotraining.pl</p>

        <p>@(Model.Count()).jpg</p>
    </div>
</body>
</html>
