﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <p>@Html.Label("Nazwa użytkownika")</p>
    <p>@Html.TextBox("username")</p>
    <p>@Html.Label("Hasło")</p>
    <p>@Html.Password("password")</p>

    <input type="submit" value="Zaloguj" />
}

