﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div>
        <p>@ViewBag.Controller</p>
        <p>@ViewBag.Action</p>
        <p>@ViewBag.Id</p>
        <p>@ViewBag.Catchall</p>

        <br />

        <a href="/Main/Details/abcdef">Link do metody Details</a>
        <br />
        @Html.ActionLink("Metoda Details za pomocą ActionLink", "Details", new { id = "abcdef", Area = "" },
        new { id = "actionLinkId", @class = "btn btn-primary" })
        <br />
        @Html.ActionLink("Link do Infotraining", null, null, "https", "infotraining.pl", null, null, null)
        <br />
        @Url.Action("Details", new { id = "abcdef" })

        <br />
        <br />

        @if (ViewContext.RouteData.DataTokens["Area"] == null)
        {
            @Html.ActionLink("Do kontrolera Home w Admin", "Index", "Home", new { Area = "Admin" }, null)
        }
        else
        {
            @Html.ActionLink("Do kontrolera Home w domyślnym obszarze", "Index", "Home", new { Area = "" }, null)
        }

    </div>
</body>
</html>
