﻿@model IEnumerable<MovieStore.BusinessLogicLayer.ViewModels.DisplayReviewViewModel>

<table class="table">
    <thead>
        <tr>
            <th>@Html.LabelFor(x => x.FirstOrDefault().Author)</th>
            <th>@Html.LabelFor(x => x.FirstOrDefault().ReviewDate)</th>
            <th>@Html.LabelFor(x => x.FirstOrDefault().Rating)</th>
            <th>@Html.LabelFor(x => x.FirstOrDefault().Content)</th>
        </tr>
    </thead>
    @foreach(var review in Model)
    {
        <tr>
            <td>@Html.DisplayFor(x => review.Author)</td>
            <td>@Html.DisplayFor(x => review.ReviewDate)</td>
            <td>@Html.DisplayFor(x => review.Rating)</td>
            <td>@Html.DisplayFor(x => review.Content)</td>
        </tr>
    }
</table>