﻿@model HandleErrorInfo

@{
    ViewBag.Title = "CustomRangeError";
    //int a = 0;
    //int b = 7;
    //int c = b / a;
}

<h2>Błąd zakresu</h2>

<hr />

<p>Podana wartość @(((ArgumentOutOfRangeException)Model.Exception).ActualValue) była spoza zakresu</p>

