﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<hr />

@Html.ActionLink("Link do tajnej informacji", "GetSecretInfo")

<hr />

@if (User.Identity.IsAuthenticated)
{
    <p>Zalogowany użytkownik: @User.Identity.Name</p>
    @Html.ActionLink("Wyloguj", "Logout", "User")
}