﻿@model ViewsAndHelperMethods.Models.User

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.LabelForModel()

    <div class="column">
        @Html.EditorForModel()
    </div>
    <div class="column">
        @Html.EditorFor(x => x.Address)
    </div>
    

    @*<p>@Html.LabelFor(x => x.Name)</p>
    <p>@Html.EditorFor(x => x.Name)</p>

    <p>@Html.LabelFor(x => x.DateOfBirth)</p>
    <p>@Html.EditorFor(x => x.DateOfBirth)</p>

    <p>@Html.LabelFor(x => x.Verified)</p>
    <p>@Html.EditorFor(x => x.Verified)</p>

    <p>@Html.LabelFor(x => x.Role)</p>
    <p>@Html.EditorFor(x => x.Role)</p>*@

    <input type="submit" value="Stwórz" />
}

<style>
    .editor-label {width : 150px; clear:left}
    .editor-label, .editor-field { float:left; margin-top: 10px}
    .editor-field input { height:20px; width:150px}
    input[type=submit] {float:left; clear:both; margin-top:20px}
    input[type=checkbox]{margin:0px; width:15px}
    .column {float:left; margin: 10px}
</style>