﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<hr />

Studenci:
@*@Html.Partial("ArrayPartialView", (string[])ViewBag.Students)*@
@*@ArrayHelper((string[])ViewBag.Students)*@
@Html.ListArrayItems((string[])ViewBag.Students)
<br />

Kursy:
@*@Html.Partial("ArrayPartialView", (string[])ViewBag.Courses)*@
@*@ArrayHelper((string[])ViewBag.Courses)*@
@Html.ListArrayItems((string[])ViewBag.Courses)


@helper ArrayHelper(string[] model)
{
    <ul>
        @foreach (var item in model)
        {
            <li>@item</li>
        }
    </ul>
}

<br />
<br />

@Html.ActionLink("Stwórz użytkownika", "Create")