﻿@model ViewsAndHelperMethods.Models.User

@{
    ViewBag.Title = "UserDetails";
}

<h2>UserDetails</h2>

<hr />

@Html.LabelForModel()
@Html.DisplayForModel()
@Html.DisplayFor(x => x.Address)

@*<p>@Html.LabelFor(x => x.Name)</p>
<p>@Html.DisplayFor(x => x.Name)</p>

<p>@Html.LabelFor(x => x.DateOfBirth)</p>
<p>@Html.DisplayFor(x => x.DateOfBirth)</p>

<p>@Html.LabelFor(x => x.Verified)</p>
<p>@Html.DisplayFor(x => x.Verified)</p>

<p>@Html.LabelFor(x => x.Role)</p>
<p>
    @Html.DisplayFor(x => x.Role)
</p>*@

<style>
    .display-label {width:150px; clear:left}
    .display-field {font-weight:bold}
    .display-label, .display-field {float:left; margin-top:10px}
</style>